.site-nav {
  display: block;
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  border-bottom: 1px solid black;
}
/* 
.site-nav::after {
  content:"";
  display: block;
  z-index: -1;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(150, 150, 150, .5);
} */

.nav-link {
  display: block;
  float: left;
  padding: 0 25px;
}

.nav-link a {
  text-decoration: none;
  color: rgb(201, 60, 201);
}
